<app-header></app-header>
<!--<p >profile {{ this.app.profile?.email }} works!</p>
Plans: {{ this.profileData}} <br>-->

<!--<div class="container" *ngIf="this.profileData">
    <div class="row">
        <div class="col col-md-3">
            <div class="row bg-dark">
                Profile Picture
                {{ this.profileData?.displayName }}
            </div>
        </div>
        <div class="col col-md-9">
            B
        </div>
    </div>
</div>
<div *ngIf="!this.profileData">
    Not currently Logged in
</div>-->

<div class="container bg-white mt-5" style="margin-bottom: 100px; border-radius: 50px;">


    <div class="row" *ngIf="!(app.auth.isAuthenticated$ | async)">
        Nicht angemeldet.
    </div>
    <div class="row" *ngIf="(app.auth.isAuthenticated$ | async) === true">
        <div class="col-md-3 " style="border-right: 1px solid gray;">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Dein Profil</h3>
                </div>
                <img class="rounded-circle mt-5" width="150px" height="150px" src="{{this.picture}}"><span
                    class="font-weight-bold">
                    <h4 class="mt-3">
                        {{this.profileData?.displayName}}
                    </h4>
                </span>
            </div>
            <div class="p-3 py-1">
                <div class="row mt-3">
                    <div class="col col-md-12">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <small>Kartenaufrufe gesamt:</small>10<br>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <small>Anzahl Karten:</small>1<br>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <small>Anzahl Farbschemas:</small>0
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-5">
                    <div class="col-md-12 mb-3">
                        <label class="labels">Kontakt-Email-Adresse:</label>
                        <input type="text" class="form-control" placeholder="optional" value="">
                    </div>
                    <div class="col-md-12 mb-3">
                        Profilsichtbarkeit:
                        <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                            autocomplete="off" checked>
                        <label class="btn btn-success" [ngClass]="{ 'btn-danger': !this.profileData?.public }"
                            for="success-outlined">{{this.profileData?.public ? 'öffentlich' : 'privat'}}</label>
                    </div>
                </div>
                <div class="mt-5 text-center mb-5">
                    <button class="btn btn-primary profile-button" type="button">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3 my-0">
                    <div class="col col-md-6">
                        <h3 class="text-right">Deine Pläne</h3>

                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <span>
                            <a class="btn btn-outline-success">+ Plan erstellen</a>
                        </span>
                    </div>
                </div>

                <div class="col-md-12" *ngIf="!this.profileData?.colorThemes">
                    <p class="text-right text-muted">Du hast zurzeit noch keinen Plan.</p>
                </div>
                <div class="col-md-12" *ngIf="this.profileData?.colorThemes">
                    <div *ngFor="let plan of this.profileData?.plans" class="card-deck mb-3 text-center">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center experience">
                                    <span>
                                        <h5 class="mb-0">
                                            {{ plan.planName }}
                                            <button class="btn mx-0 my-0 px-0 py-0"
                                                onclick="window.prompt('Karte umbenennen')"><small>🖊️</small></button>
                                        </h5>
                                        <small class="text-muted">Zuletzt bearbeitet:
                                            2022-10-06 20:45
                                        </small>
                                    </span>
                                    <span class="px-3 p-1 add-experience">
                                    </span>
                                    <div>
                                        <span>
                                            <a class="btn btn-success text-primary">
                                                Karte bearbeiten
                                            </a>
                                        </span>
                                    </div>
                                </div>

                                <!--<h2 class="card-title pricing-card-title"> <small>Preise:</small></h2>-->
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-md-6 align-items-left mt-1">
                                        <div class="d-flex justify-content-between align-items-center experience">
                                            <span><small>Aufrufe: </small>1_715</span><br>
                                            <span><small>Knotenpunkte: </small>153</span><br>
                                            <span><small>Linien: </small>23</span>
                                            <!--
                                            <div class="dropdown">
                                                <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    Version wiederherstellen
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                    <div class="col col-md-6 align-items-left">
                                        <div class="d-flex ml-5 justify-content-between align-items-center experience">
                                            <span></span>
                                            <div>
                                                <button class="btn btn-outline-primary mx-3"
                                                    [routerLink]="'/overview/' + plan.currentState">Detailansicht</button>
                                                <button class="btn btn-success text-light">Teilen</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <code>
                                    {{this.JSON.stringify(plan, null, 4)}}
                                </code>

                                <!---- <p>
                                        Generell ist die Verwendung vom Metroplanner von ich-hab-Plan.de zum Erstellen
                                        und
                                        Teilen
                                    </p>
                                    <p>
                                        da wir mit unserer Software auf eine möglichst simple Bedienung bauen.
                                    </p>-->
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!----
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                            Experience</span><span class="border px-3 p-1 add-experience"><i
                                class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                            class="form-control" placeholder="experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                            class="form-control" placeholder="additional details" value=""></div>
                    -->

                <div class="d-flex justify-content-between align-items-center mb-3 my-5">
                    <div class="col col-md-6">
                        <h4 class="text-right">Deine Farbschemas</h4>

                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <span>
                            <a class="btn btn-outline-success">+ Farbschema erstellen</a>
                        </span>
                    </div>
                </div>

                <div class="col-md-12" *ngIf="this.profileData?.colorThemes?.length">
                    <code>
                        {{this.JSON.stringify(this.profileData?.colorThemes, null, 4)}}
                    </code>
                </div>
                <div class="col-md-12" *ngIf="!this.profileData?.colorThemes?.length">
                    <p class="text-right text-muted">Du hast zurzeit keine eigenen Farbschemas definiert.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>