<app-header></app-header>

<div class="container">
    <div class="row">
        <!--<div class="col col-2 d-none d-lg-block">
            <app-canvas [scrollable]="false"></app-canvas>
        </div>-->
        <div class="col col-md-8 col-sm-12 mx-auto">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <p class="display-6">Nahverkehr war noch nie so einfach.</p>
                <p class="lead">Jetzt Liniennetzpläne deiner Region finden.</p>
            </div>
            <div class="card-deck mb-3 text-center">
                <div class="card mb-5 box-shadow">
                    <div class="card-header">
                        <h2 class="card-title pricing-card-title"> <small>Ausgewählte Netzpläne ansehen:</small></h2>
                    </div>
                    <div class="card-body">
                        <div class="row mt-2 mb-4">
                            <div class="col-md-6">
                                <button class="btn maplink btn-outline-primary w-100 mb-3" routerLink="/p/wesel">
                                    <h5 class="hoverblack">
                                        Hansestadt Wesel am Niederrhein
                                    </h5>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                                        class="bi bi-map mt-2 mb-3" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn maplink btn-outline-primary w-100 mb-3" routerLink="/p/example">
                                    <h5 class="hoverblack">Beispielkarte</h5>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                                        class="bi bi-map mt-2 mb-3" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-1">Weitere Netzpläne
                            entdecken</button>
                    </div>
                </div>
                <div class="card mb-5 box-shadow">
                    <div class="card-header">
                        <h2 class="card-title pricing-card-title"> <small>Eigene Netzpläne erstellen:</small></h2>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title pricing-card-title">
                            <small class="">Jetzt kostenlos Registrieren.
                                <br>— Sofort mit dem Planen beginnen.</small>
                        </h3>
                        <p>Netzpläne können kostenlos angelegt und geteilt werden</p>
                        <p>Intuitive Bedienung — <a routerLink="support">Hilfe und Dokumentation</a> stehen jederzeit
                            bereit</p>
                        <p>Zur kommerziellen Nutzung und für individuelle Lösungen bitte <a
                                routerLink="support">Kontakt</a>
                            aufnehmen</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <p class="display-6">Unsere Mission:</p>
                <p class="lead">Den öffentlichen Nahverkehr durch simple, lesbare und diagrammähnliche Liniennetzpläne
                    für möglichst viele Menschen zugänglich zu machen und die Routenplanung zu vereinfachen.
                </p>
                <button class="btn btn-outline-info" routerLink="/roadmap">
                    Zur Roadmap
                </button>
            </div>
        </div>
    </div>
    <hr class="m-5">
    <app-footer></app-footer>
</div>


<!--
<div class="content" role="main">
    <h2>Next Steps</h2>
    <p>What do you want to do next with your app?</p>

    <input type="hidden" #selection>

    <div class="card-container">
        <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>
            <span>New Component</span>
        </button>

        <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>
            <span>Angular Material</span>
        </button>

        <button class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>
            <span>Add PWA Support</span>
        </button>

        <button class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>
            <span>Add Dependency</span>
        </button>

    </div>

    <div class="terminal" [ngSwitch]="selection.value">
        <pre *ngSwitchDefault>ng generate component xyz</pre>
        <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
        <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
        <pre *ngSwitchCase="'dependency'">ng add _____</pre>
        <pre *ngSwitchCase="'test'">ng test</pre>
        <pre *ngSwitchCase="'build'">ng build</pre>
    </div>

    <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
        viewBox="0 0 2611.084 485.677">
        <title>Gray Clouds Background</title>
        <path id="Path_39" data-name="Path 39"
            d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
            transform="translate(142.69 -634.312)" fill="#eee" />
    </svg>
</div>-->