<div *ngIf="!this.planData">
    <app-header></app-header>
    <p>
        No Plan Data received
    </p>
</div>
<div style="width: 100%; height: 100%; margin:0; padding:0;" *ngIf="this.planData" id="canvas_contents">
    <!--<div id="landscape" style="z-index: -10;">
    </div>
    <div id="lines">
        <div *ngFor="let line of this.planData.lines">
            {{line.symbol}}
        </div>
    </div>-->
    <div id="nodes">
        <div *ngFor="let node of this.planData.nodes | keyvalue" [id]="node.key">
            <h1>
            {{node.key}} 
            </h1>

        </div>
    </div>
    <!--<div id="labels" style="z-index: 10;">
        <div *ngFor="let label of this.planData.additionalLabels">
            {{label.text}}
        </div>
    </div>-->
</div>