<app-header></app-header>

<div class="container">
    <div class="row">
        <!--<div class="col col-2 d-none d-lg-block">
            <app-canvas [scrollable]="false"></app-canvas>
        </div>-->
        <div class="col col-md-8 col-sm-12 mx-auto">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <p class="display-6">Impressum</p>
                <p class="lead">
                    Auf ich-hab-Plan.de wird der Metroplanner bereitgestellt.
                    Der Metroplanner wird entwickelt von Hendrik Lankers.

                    Es erfolgt keine Haftung für Drittanbieter-Inhalte.
                </p>
                <button class="btn btn-outline-info" routerLink="/support">
                    Kontakt
                </button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>