<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col col-md-2 col-sm-0">
        </div>
        <div class="col col-md-8 col-sm-12">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h2 class="card-title pricing-card-title"> <small>Kontakt:</small></h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Um Kontakt mit uns auf zu nehmen, kann uns gerne eine Email geschickt werden.
                        </p>
                        <a type="button" class="btn btn-lg btn-block btn-outline-primary"
                            href="mailto:info@ich-hab-plan.de">Email an info@ich-hab-Plan.de</a>
                        <p class="small mt-4">
                            Sollte es bei dieser Adresse zu Problemen kommen, kann gerne die Adresse hdk.lks@pm.me
                            verwendet werden.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>