<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col col-md-8 col-sm-12 mx-auto">
            <!--<div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h2 class="card-title pricing-card-title"> <small>Preise:</small></h2>
                        <h2 class="card-title pricing-card-title"> <small>:</small></h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Generell ist die Verwendung vom Metroplanner von ich-hab-Plan.de zum Erstellen und Teilen
                            von ÖPNV-Liniennetzplänen kostenlos und basiert auf unserer Open-Source-Lösung.
                            Für private Kartenersteller, die den ÖPNV in ihrer Region zugänglicher machen wollen,
                            bleibt ich-hab-Plan.de kostenlos.
                            werden, bitte
                        </p>
                        <p>
                            Zur kommerziellen Nutzung bieten wir individuelle Lösungen und Preise an, die sich an
                            die Bedürfnisse unserer Kunden anpassen und hochgradig skalierbar sind.
                            Wir richten uns explizit auch an kleinere Gemeinden und Verkehrsunternehmen,
                            da wir mit unserer Software auf eine möglichst simple Bedienung bauen.
                        </p>-->
            <p>
                Zur kommerziellen Verwendung von der Metroplanner-Lösung von ich-hab-plan.de bitte Kontakt aufnehmen.
            </p>
            <!--</div>
                </div>
            </div>-->
        </div>
    </div>
    <app-footer></app-footer>
</div>