<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <div class="col-md-2 mt-2 d-flex justify-content-center">
        <a class="p-0" href="/"><span class="my-0 mr-md-auto fw-bold h3">ich-hab-Plan.de</span></a>
    </div>
    <div class="col-md-7 mt-2 d-flex justify-content-center">
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-4 h5" href="/explore">Karten entdecken</a>
            <a class="p-4 h5" routerLink="/pricing">Preise</a>
            <a class="p-4 h5" routerLink="/support">Kontakt & Support</a>
        </nav>
    </div>
    <!--<div class="col-md-1 d-flex justify-content-center">
        <a class="btn ml-4 btn-secondary" (click)="this.app.toggleDarkMode()">
            <svg *ngIf="this.app.darkMode" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
                <path
                    d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
            </svg>
            <svg *ngIf="!this.app.darkMode" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-moon-fill" viewBox="0 0 16 16">
                <path
                    d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
            </svg>
        </a>
    </div>-->
    <div class="col-md-2 d-flex justify-content-center"
        [ngClass]="{'col-md-2': (auth.isAuthenticated$ |async )=== false}">
        <a *ngIf="(auth.isAuthenticated$ | async) === false" class="btn h5 pb-2 pt-2 text-light btn-success"
            [ngClass]="{'btn-outline-primary' : (auth.isAuthenticated$ | async)}" (click)="auth.loginWithRedirect()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                <path fill-rule="evenodd"
                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
            Log in or sign up
        </a>
        <a *ngIf="auth.isAuthenticated$ | async" class="btn h5 pb-2 pt-2 text-light"
            [ngClass]="{'btn-outline-primary' : auth.isAuthenticated$ | async, 'btn-success': !(auth.isAuthenticated$ | async)}"
            routerLink="/profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                viewBox="0 0 16 16">
                <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
            </svg>
            Profile

        </a>
    </div>
    <div *ngIf="auth.isAuthenticated$ | async" class="col-md-1 d-flex justify-content-center">
        <a class="btn btn-outline-danger pt-2 pb-2" (click)="auth.logout()">
            Log out
        </a>
    </div>
</div>
