/* You can add global styles to this file, and also import other style files */



$primary: white;
$secondary: white; //$gray-600 !default;
$success: green; //$green !default;
$info: orange; //$cyan !default;
$warning: yellow; //$yellow !default;
$danger: red; //$red !default;
$light: hsl(0, 0, 90%); //$gray-100 !default;
$dark: hsl(0, 0, 10%); //$gray-900 !default;

$body-bg: hsl(240, 33.3%, 10%); //$blue !default;
$body-color: $secondary;


$card-border-color: white;

$white: black;

$headings-color: white;
$link-color: white;


// $font-family-sans-serif:      "Oxygen Sans", sans-serif;//system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-monospace:       "oxygen-mono", monospace;//SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

@import "node_modules/bootstrap/scss/bootstrap";