.marker,
.line_segment,
.label,
.wrapper,
.regularStop {
    position: absolute;
    justify-content: center;
    align-items: center;
    /* Bootstrap has switched to box-siging: border-box;.
    This lets the borders appear on the inside of containers instead of on the outside.
    However, the border is calculated as being outside of the div container.
    Hence, the default box-sizing has to be set here, content-box.*/
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.line_segment,
.marker {
    transform-origin: top left;
}

.selected {
    box-shadow: 0px 0px 10px 2px yellow;
}

#viewer {
    width: 70%;
    height: 88%;
    position: absolute;
    top: 10%;
    left: 2%;
    overflow: auto;
    /*border: 2px solid white;*/
}

#sidepanel {
    width: 26%;
    height: 88%;
    position: absolute;
    left: 73%;
    top: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
}

html,
body {
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid white;
}

.halftransparent {
    opacity: 0.5;
}

.hidden {
    display: none;
}

.mono {
    font-family: Oxygen-Mono, monospace;
    font-size: 12px;
    font-weight: 100;
}

#canvas_contents {
    /*transform: scale(0.55);*/
}